[Desktop Entry]
Encoding=UTF-8
Name=Bard Google plasmoid for Plasma
Keywords=BardGoogle
Icon=search-symbolic
X-Plasma-API=declarativeappletscript
Type=Service
X-Plasma-Provides=com.krafairus.bardgoogle
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Name=com.krafairus.bardgoogle
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-Website=https://github.com/krafairus/com.krafairus.bardgoogle
KDE-PluginInfo-License=BSD 3.0
X-Plasma-MainScript=ui/main.qml
